// SIZES

// FONTS
$font-title: "Sunflower", sans-serif;

// COLORS
$color-page-background: #fafcfc;
$color-page-footer-text: #b6bdc2;
$color-page-footer-text-hover: #666;
$color-page-footer-link-hover: #000;

$color-menu-link: #b6bdc2;
$color-menu-link-hover: #666;
$color-menu-link-active: #000;

$color-success: darken(#b7eecf, 20%);
$color-failure: darken(#fdb4bb, 20%);

$color-tile-color1: #b8dbf2;
$color-tile-color2: #dcc6e6;
$color-tile-revealed: aliceblue; // #f9fbfa
$color-tile-flagged: #faebaa;
